<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup] = "filmForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="filmName"> Film </label>
            <input type="text" class="form-control" id="filmName" formControlName="filmName" >
            
            <label for="realisator"> Realisateur </label>
            <input type="text" class="form-control" id="realisator" formControlName="realisator" >
            
            <label for="release"> release </label>
            <input type="text" class="form-control" id="release" formControlName="release" >
            
            <div formArrayName="actorList">
                <h4>Liste d'acteur</h4>
                <div class="form-group" *ngFor="let actor of getActorList().controls; let i = index">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
                <button type="button" class="btn btn-success" (click)="onAddActorList()"> (+) </button>
            </div>
            <div formArrayName="filmCategory">
                <h4>Film Category</h4>
                <div class="form-group" *ngFor="let category of getFilmCategory().controls; let i = index">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>
                <button type="button" class="btn btn-success" (click)="onAddFilmCategory()"> (+) </button>
            </div>
            <label for="srcImg"> release </label>
            <input type="text" class="form-control" id="srcImg" formControlName="srcImg" >
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="filmForm.invalid"> soumettre </button>
    </form>
</div>