<h2>Nous allons choisir pour vous</h2>
<p>Style de film : </p>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> Action </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> Amour </label>
</div><div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> Guerre </label>
</div><div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> Mockumentaire </label>
</div>

<button type="button" class="btn btn-primary" (click)="randomPicker()">Trouve moi le film </button>
